.container {
    padding: 40px;
    font-family: sans-serif;
    background-color: #f3f4f6;
    width: 300px;
    margin: 50px auto;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 8px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.remove {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

button.remove:hover {
    background-color: rgb(240, 219, 219);

}